<html>
    <head>

    </head>
    <body>
        
        <h1 id="title">Online Dictionary</h1>

        <form action ='define' method = "post">
            <input type='text' name='ip-word' placeholder = 'enter a word' required = 'required'/>
            <button type='submit'> Submit </button>
        <br>
        <br>
        {{ prediction_text }}
        </form>
    </body>
</html>

<style>
     h1 {
    margin-top: 50px;
    text-align: center;
    font: "Lucida Console", "Courier New", monospace;

  }
  form{
      text-align: center;
     
    }
  body{
      text-align: center;
      background-color:rgb(218, 244, 245);
      margin-left: 80 px;
      margin-right: 80 px;
  }
</style>